  @layer reset, primereact;
  
  @layer reset{
    .p-menubar{
      background-color: var(--primarycolor);
      .p-menubar-root-list{
        margin-inline: auto;
      }
    }
    .p-inputtext:enabled:focus{
      box-shadow: unset;
    }
    .p-float-label > label {
      left: 0;
    }
  }

  a{
    text-decoration: none;
  }
  ul {
     padding-left: unset;
  }
  .text-black{
    color: var(--text-color);
  }
  .text-grey{
    color: var(--text-grey);
  }
  .background-white{
    background-color: var(--bg-white);
  }

  .dropdown-transparent{
    background-color: transparent;
  }

  .border-radius-30{
    border-radius: 30px;
  }
  .fw-small{
    font-size: var(--fs18);        
  }

  .primary-btn{
    font-family: dmsans-bold;
    font-weight: bold;
  }

  .secondary-btn{
    font-family: dmsans-semibold;
    background: rgba(0, 0, 0, 1);
  }

  .ternary-btn{
    font-family: dmsans-semibold;
  }

  .topic-txt{
    font-size: var(--fs25);
    font-family: dmsans-bold;
  }
  .sec-topic{
    font-size: var(--fs20);
    font-family: dmsans-semibold;
  }
  .common-layout{
    padding: var(--fs40) var(--fs38);
  }

  .cus-gap-5{
    gap: var(--fs25);
  }

  .step-menu{
    &.active{
      font-family: dmsans-semibold;
      color: var(--text-colo);
      span{
        font-family: dmsans-semibold;
        color: var(--text-colo);
        background-color: var(--primarycolor);
        border: 1px solid var(--primarycolor);
      }
    }
    span{
      width: 25px;
      height: 25px;
      border: 1px solid var(--text-grey);
      font-size: var(--fs16);
    }
  }

  .common-form{
    .form-section{
      .form-sec-header{
        border-bottom:2px solid var(--bg-black);
        .topic{
          background-color: var(--bg-black);
          width: 250px;
          padding:var(--fs10) var(--fs15);
          color: var(--text-white);
          svg{
            path{
              fill:var(--text-white)
            }
            width: 25px;
            height: 25px;
          }
        }
        .text-require{
          font-size: var(--fs15);
        }
      }
      .form-body{
        padding: var(--fs30);
        background: var(--bg-grey);
        .text-field{
          border-bottom: 1px solid var(--bg-black) !important;
        }
        .form-grid-1{
          display: grid;
          grid-template-columns: auto auto auto;
          gap: var(--fs25) var(--fs35);
        }
        .require-star{
          color: var(--redcolor);
        }
      }
    }
  }