.sidebar{
    width: 200px;
    height: 100%;
    background-color: #1B1F22;
    padding-block: 25px;
    .menu-link{
        padding: 15px 8px;
        // background-color: red; 
        gap: 20px;  
        color: var(--text-white);     
    }
}