.sidebar{
    width: 200px;
    height: 100%;
    background-color: #1B1F22;
    padding-block: 25px;
    .menu-link{
        padding: 15px 8px;
        gap: 20px;  
        color: var(--text-hash);
        .home-icon{
            fill: rgb(106, 104, 104);
            path{
                fill: rgb(106, 104, 104);
            }
        }
        &.active{
            color: var(--text-white);  
            .home-icon{
                path{
                    fill: var(--text-white); ;
                }
            }
        }
        .home-icon{
            width: 25px;
        }   
    }
    .p-accordion .p-accordion-header .p-accordion-header-link{
        padding: unset;
        background-color: transparent;
        border: 0;
        flex-direction: row-reverse;
        
    }
    .sub-link{
        margin: 0;
        .menu-link{
            padding: 3px 10px 3px 45px;
        }
    }
}